*{ padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

.overflow {
  overflow-y: hidden;
  transition: .4s ease;
}


/*wrapper*/
.wrapper {
  width: 40%;
  margin: 0 auto;    
}

/* header section starts here */
header {
  padding: 20px 0; 
}

header h3 {
  font-size: 35px;
  text-transform: capitalize;
  text-align: center;
}


.parent-box { 
  margin:50px 0;
  height: 400px;   
}

.parent-box .wrapper {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  padding: 50px 20px 30px 20px;
}

.parent-box .wrapper h3 {
  font-size: 17px;
  margin: 0 0 20px 0;
  background: #f2f4fb;
}

#btn {
  font-size: 15px;
  background: #000;
  color: #fff;  
  font-weight: bold;
  padding: 7px 10px;
  border: none;
  outline: none;  
  border-radius: 20px;
}

#btn.active {
  background: grey;
}

#btn:hover {
  transition: .4s ease;
  background: #f90;
  color: #fff;
}

.modal-outer {
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5));
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s ease;
}

.hide-modal {
  display: none;
}

.modal-main {
  position: relative;
  width: 48%;
  background: #fff;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;    
}


.modal-main li {
  list-style: none;
}

.modal-main > ul >li >h4 {
  font-size: 28px;
  color: #fff;
  background: #b77d7d;
  text-align: center;
}

.modal-main > ul >li >p {
  margin:10px 0;
  color: grey;
  text-align: center;
  font-size: 17px;
}

.close {
  position: absolute;
  right: 4%;
  top: 5%;
  font-size: 10px;
  border: 1px solid #000;
  padding: 3px 7px;
  cursor: pointer;
}

footer {
 margin: 300px 0 0 0;
 background: #ccc;
}

footer .wrapper {   
  padding: 10px 0;
}

footer .wrapper > h3 {
  font-size: 15px;
  text-align: center;
}

@media only screen and (max-width:995px) {
  .wrapper,.modal-main{
    width: 65%;
  }
}

@media only screen and (max-width:540px) {
  .wrapper,.modal-main{
    width: 80%;
  }
}